[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = {extras = ["atari"],version = "*"}
opencv-python = "*"
numpy = "*"
matplotlib = "*"
keras = "*"
scikit-image = "*"
pandas = "*"
sklearn = "*"
tensorflow-gpu = "==2.0.0-beta1"
skip-lock = "*"
seaborn = "*"
tensorflow-probability = "*"
opster = "*"
image = "*"

[requires]
python_version = "3.6"
